# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv

# Ignore version control directories
.git
.gitignore
.idea


# Ignore other unnecessary files
*.log
*.tmp
notes.txt
log-final.txt
log.txt