{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Chat Box UI Design</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">

    <!-- Import this CDN to use icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <div class="logout-container">
        <a href="{% url 'logout_view' %}" class="logout-button">Logout</a>
    </div>
    <!-- Main container -->
    <div class="container">
      <!-- msg-header section starts -->
      <div class="msg-header">
        <div class="container1">
          <img src="{% static 'images/human.jpg' %}" class="msgimg" />
          <div class="active">
            <p>{{ username }}</p>
          </div>
        </div>
      </div>
      <!-- msg-header section ends -->
      <!-- Chat inbox  -->
      <div class="chat-page">
        <div class="msg-inbox">
          <div class="chats">
            <!-- Message container -->
            <div class="msg-page">
              {% for obj in data %}
                     <!-- Outgoing messages -->
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img src="{% static 'images/human.jpg' %}" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p class="multi-msg">
                      {{ obj.user }}
                    </p>
                    <span class="time">{{ obj.timestamp }}</span>
                  </div>
                </div>
              </div>
              <!-- Incoming messages -->
              <div class="received-chats">
                <div class="received-chats-img">
                  <img src="{% static 'images/robo.png' %}" />
                </div>
                <div class="received-msg">
                  <div class="received-msg-inbox">
                    <p>
                        {{ obj.model | safe}}
                    </p>
                    <span class="time">{{ obj.timestamp }}</span>
                  </div>
                </div>
              </div>
                  
              {% endfor %}
            </div>
          </div>

          <!-- msg-bottom section -->
          <div class="msg-bottom">
              <form action="{% url 'user_query' %}" method="post" class="input-group">
                {% csrf_token %}
                <input
                  type="text"
                  class="form-control"
                  placeholder="Write message..."
                  name="query"
                />
                <button type="submit" class="input-group-text send-icon">
                  <i class="bi bi-send"></i>
                </button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
