{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-XCHCVL25YB"></script>
	<script>
		  window.dataLayer = window.dataLayer || [];
		    function gtag(){dataLayer.push(arguments);}
		    gtag('js', new Date());

		    gtag('config', 'G-XCHCVL25YB');
	</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/summary.css' %}">
</head>
<body>
    <div class="header">
        <a href="{% url 'chat' %}" class="btn">Chat</a>
        <a href="{% url 'login_view' %}" class="btn">Login</a>
        <a href="{% url 'signup' %}" class="btn">Signup</a>
        <a href="https://github.com/saikiranreddyappidi/InferenceAPI" class="btn">GitHub</a>
    </div>
<div class="container">
    <form action="/summary" method="post">
    {% csrf_token %}
        <label> Enter your text here:
            <textarea name="content" rows="10" cols="30">{% if userInput is not None %}{{ userInput }}{% endif %}</textarea>
        </label>
        <button type="submit">Summarize</button>
    </form>
    {% if summary is not None %}
    <div class="summary">
        <h3>Summary</h3>
        {{ summary | safe }}
    </div>
    {% endif %}
</div>
<footer>
    Designed and developed by Horizon team
</footer>
</body>
</html>
